.TQc1id .I6TXqe {
  border: 1.5px solid #dfe1e5;
}

.I6TXqe {
  background: #fff;
  border-radius: 8px;
  padding: 0 0 16px 0;
}

.HSryR .d7sCQ {
  border-top: 0;
}

#rhs .HSryR {
  margin: 6px 0 0 1px;
}

#rhs .Ftghae {
  padding-left: 15px;
  padding-right: 15px;
}

.kp-wholepage.HSryR {
  box-shadow: none;
  line-height: 1.58;
}

#rhs .VjDLd.liYKde {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.kno-ecr-pt {
  color: #202124;
  line-height: 1.2;
  margin-bottom: -3px;
  overflow: hidden;
  font-family: arial, sans-serif-light, sans-serif;
  display: inline;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  transform-origin: left top;
  transform-origin: left top;
  word-wrap: break-word;
}

.kp-hc {
  margin-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.HSryR .wDYxhc:not(.NFQFxe) {
  padding-left: 15px;
  padding-right: 15px;
}

.d7sCQ {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 14px;
}
