@-webkit-keyframes allow-alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.35;
  }
}
.TCIIWe {
  padding-top: 12px;
}
.f6F9Be {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fbar a {
  text-decoration: none;
  white-space: nowrap;
}
.fbar {
  margin-left: -27px;
}
.Fx4vi {
  padding-left: 27px;
  margin: 0 !important;
}
#fsl {
  white-space: nowrap;
}
.f6F9Be {
  background: #f2f2f2;
  line-height: 40px;
  min-width: 1261px;
  padding-bottom: 12px;
}
.f6F9Be.TrMVnc {
  padding-top: 12px;
}
.B4GxFc {
  margin-left: 180px;
}
.fbar p,
.fbar a {
  color: #70757a;
}
.fbar a:hover {
  color: #3c4043;
}
.fbar {
  font-size: 14px;
}
.b0KoTc {
  color: rgba(0, 0, 0, 0.54);
  padding-left: 27px;
}
.b2hzT {
  border-bottom: 1px solid #dadce0;
}
.Q8LRLc {
  font-size: 15px;
}
.yLngu {
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
}
#Wprf1b {
  color: #3c4043;
  font-weight: bold;
}
.smiUbb img {
  margin-right: 4px;
}
.smiUbb a,
.M6hT6 #swml a {
  text-decoration: none;
}
.smiUbb {
  margin-left: 180px;
  line-height: 15px;
  color: #70757a;
}
.smiUbb a,
#swml a {
  color: #70757a;
}
.smiUbb a:hover,
#swml a:hover {
  color: #3c4043;
}
#swml a {
  display: inline-block;
}
#swml {
  display: nline-block;
  margin-left: 13px;
  padding-left: 16px;
  border-left: 1px solid #dadce0;
}
