.wYq63b {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1001;
}
.S6VXfe {
  align-items: center;
  background-color: #fff;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: flex;
  margin: 80px auto 8px 0;
  overflow: hidden;
}
.gyPpGe,
.gyPpGe:visited,
.qlVNAd {
  border: 2px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  color: #4b11a8;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 6px 11px;
  min-height: 32px;
  text-decoration: underline;
  text-align: center;
  width: 106px;
}
.gyPpGe:not(:focus) {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  padding: 0;
}
a.oBa0Fe {
  color: #70757a;
  float: right;
  font-style: italic;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
a.aciXEb {
  padding: 0 5px;
}
.gsfi,
.lst {
  font: 16px arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  line-height: 34px;
  height: 34px !important;
}
.hp .nojsb,
.srp .jsb {
  display: none;
}
.tsf {
  width: 833px;
}
.big .tsf {
  width: 1109px;
}
#searchform {
  width: 100%;
}
.minidiv .sfbg {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  height: 72px;
  overflow: hidden;
}
#searchform.minidiv .sbfcn,
#searchform.minidiv .sbhcn {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
@media only screen and (max-height: 768px) {
  .hp #searchform {
    top: 269px;
  }
}
.srp #searchform {
  position: absolute;
  top: 20px;
  margin-top: 6px;
}
.sfbg {
  background: #fff;
  height: 69px;
  left: 0;
  position: absolute;
  width: 100%;
}
.c58wS {
  display: flex;
  float: right;
  position: relative;
  z-index: 99;
}
.J1hqV {
  position: absolute;
  left: -15px;
  top: -15px;
  height: 127px;
  width: 100%;
  min-width: 1261px;
  pointer-events: none;
  opacity: 1;
}
.CU3Cw {
  height: 127px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cG5GOd {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  height: 90px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%);
}
g-img {
  display: block;
}
.rISBZc {
  display: block;
  border: 0;
}
g-img {
  height: 100%;
}
.BA0A6c {
  overflow: hidden;
}
.A8SBwf {
  position: relative;
  margin: 0 auto;
  margin-left: 133px;
  width: 692px;
  padding-left: 27px;
}
.RNNXgb {
  background: #fff;
  display: flex;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  height: 39px;
  width: 690px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}
.emcav .RNNXgb {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
}
.minidiv .emcav .RNNXgb {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
}
.minidiv .RNNXgb:hover,
.minidiv .sbfc .RNNXgb {
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.SDkEP {
  flex: 1;
  display: flex;
  padding: 5px 4px 0 16px;
  padding-left: 14px;
}
.logo {
  position: absolute;
  left: -139px;
  padding: 4px 28px 0 30px;
  top: 6px;
}
.sbfc .iblpc,
.emcav .iblpc {
  padding-right: 14px;
  margin-left: -1px;
}
.iblpc span {
  display: none;
}
.sbfc .iblpc span,
.emcav .iblpc span {
  display: block;
}
.sbfc.A8SBwf,
.emcav.A8SBwf {
  padding-left: 0;
  width: 719px;
}
.sbfc .RNNXgb,
.emcav .RNNXgb {
  width: 717px;
}
.iblpc {
  display: flex;
  align-items: center;
  padding-right: 6px;
  margin-top: -7px;
}
.doodle {
  margin-top: -2px;
}
.CcAdNb {
  margin: auto;
}
.QCzoEc {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}
.gLFyf {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}
.gLFyf {
  height: 39px !important;
  line-height: 39px;
  margin-top: -42px;
}
.a4bIc {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.pR49Ae {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}
.pR49Ae {
  height: 39px !important;
  line-height: 39px;
}
.pR49Ae span {
  background: url('/images/experiments/wavy-underline.png') repeat-x scroll 0 100% transparent;
  padding: 0 0 7px 0;
}
.gLFyf.uKLqed {
  display: block;
}
.ohEFXb {
  white-space: nowrap;
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  color: #fff;
}
.v0rrvd {
  padding-bottom: 16px;
}
@keyframes g-snackbar-show {
  from {
    pointer-events: none;
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes g-snackbar-hide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes g-snackbar-show-content {
  from {
    opacity: 0;
  }
}
@keyframes g-snackbar-hide-content {
  to {
    opacity: 0;
  }
}
.tYAdEe,
.SaJ9Qe {
  bottom: 0;
  height: 0;
  position: fixed;
  z-index: 999;
}
.FEXCIb,
.CIKhFd {
  box-sizing: border-box;
  visibility: hidden;
}
.EA3l1b {
  background-color: #323232;
  padding: 0 24px;
}
.Xb004 {
  align-items: center;
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: flex;
  display: flex;
}
.lnctfd .Xb004 {
  animation: g-snackbar-hide-content 350ms cubic-bezier(0.4, 0, 0.2, 1) both;
  animation: g-snackbar-hide-content 350ms cubic-bezier(0.4, 0, 0.2, 1) both;
}
.ZWC4b .Xb004 {
  animation: g-snackbar-show-content 350ms cubic-bezier(0.4, 0, 0.2, 1) 150ms both;
  animation: g-snackbar-show-content 350ms cubic-bezier(0.4, 0, 0.2, 1) 150ms both;
}
.awHmMb {
  -webkit-box-flex: 1;
  color: #fff;
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 20px;
  margin: 14px 0;
  word-break: break-word;
}
@media (min-width: 569px) and (min-height: 569px) {
  .tYAdEe,
  .SaJ9Qe {
    text-align: center;
  }
  .CIKhFd,
  .FEXCIb {
    display: inline-block;
    max-width: 568px;
    min-width: 288px;
    text-align: left;
  }
  .EA3l1b {
    border-radius: 8px;
  }
  .BDp8nf {
    margin-left: 40px;
  }
}
.SaJ9Qe {
  left: 16px;
  right: auto;
}
.gLWQQ {
  font-weight: normal;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 1px 3px 0 3px;
}
.dRYYxd {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.BKRPef {
  flex: 1 0 auto;
  display: none;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  line-height: 44px;
}
.M2vV3 {
  display: flex;
}
.ExCKkf {
  height: 100%;
  color: #70757a;
  vertical-align: middle;
  outline: none;
}
.BKRPef {
  padding-right: 4px;
}
.ExCKkf {
  margin-right: 12px;
}
.ACRAdd {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}
.XDyW0e {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
.goxjub {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
.Tg7LZd {
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0;
}
.Tg7LZd {
  flex: 0 0 auto;
  padding-right: 13px;
}
html:not(.zAoYTe) .Tg7LZd:focus {
  outline: none;
}
.FAuhyb {
  background: none;
  color: #4285f4;
  height: 24px;
  width: 24px;
  margin: auto;
}
.UUbT9 {
  position: absolute;
  width: 100%;
  text-align: left;
  margin-top: -1px;
  z-index: 989;
  cursor: default;
  -webkit-user-select: none;
}
.aajZCb {
  background: #fff;
  box-shadow: 0 9px 8px -3px rgba(64, 60, 67, 0.24), 8px 0 8px -7px rgba(64, 60, 67, 0.24),
    -8px 0 8px -7px rgba(64, 60, 67, 0.24);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 24px 24px;
  padding-bottom: 4px;
  overflow: hidden;
}
.minidiv .aajZCb {
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.erkvQe {
  flex: auto;
  padding-bottom: 16px;
}
.RjPuVb {
  height: 1px;
  margin: 0 26px 0 0;
}
.S3nFnd .RjPuVb,
.S3nFnd .aajZCb {
  flex: 0 0 auto;
}
.xtSCL {
  border-top: 1px solid #e8eaed;
  margin: 0 14px;
  padding-bottom: 4px;
}
#ynRric {
  display: none;
}
.ynRric {
  list-style-type: none;
  flex-direction: column;
  color: #70757a;
  font-family: Google Sans, arial, sans-serif-medium, sans-serif;
  font-size: 14px;
  margin: 0 20px 0 16px;
  padding: 8px 0 8px 0;
  line-height: 16px;
}
.ynRric {
  color: #70757a;
  letter-spacing: 0;
  text-transform: none;
}
#YMXe {
  display: none;
}
.sbct {
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
  padding: 0;
}
.eIPGRd {
  flex: auto;
  display: flex;
  align-items: center;
  margin: 0 20px 0 14px;
}
.pcTkSc {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  max-height: none;
  padding: 6px 0;
}
.sbic {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
.ClJ9Yb {
  line-height: 12px;
  font-size: 13px;
  color: #80868b;
  margin-top: 2px;
}
.wM6W7d {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: auto;
  align-items: center;
  word-break: break-word;
  padding-right: 8px;
}
.wM6W7d span {
  flex: auto;
}
.AQZ9Vd {
  display: flex;
  align-self: stretch;
}
#TN4rFf {
  display: none;
}
.IDVnvc {
  display: inline-block;
  max-width: 223px;
  margin: 8px -3px 8px 13px;
  margin: 0 -10px 0 10px;
  border-radius: 12px;
  height: 184px;
}
.cRV9hb {
  width: 96px;
  padding: 6px;
}
.cRV9hb .pcTkSc {
  font-family: arial, sans-serif;
  overflow: hidden;
  margin-top: 4px;
  padding: 0;
}
.cRV9hb .pcTkSc .wM6W7d {
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  color: #222;
}
.cRV9hb .pcTkSc .ClJ9Yb {
  line-height: 16px;
  font-size: 12px;
  display: none;
  display: flex;
}
.cRV9hb .pcTkSc .wM6W7d span,
.cRV9hb .pcTkSc .ClJ9Yb span {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}
.cRV9hb .pcTkSc .wM6W7d span {
  -webkit-line-clamp: 2;
}
.cRV9hb .pcTkSc .ClJ9Yb span {
  -webkit-line-clamp: 2;
}
.aVbWac {
  background: #fff;
  border-radius: 8px;
  height: 96px;
}
.JUypV {
  font-size: 8pt;
  margin-top: -16px;
  position: absolute;
  right: 16px;
}
